#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# Package build options
export BRAND=""
export TARGET_DIR=${CURDIR}/debian/${BRAND}
export INSTALL_DIR="/usr/share/fim"
export BUILD_DIR=""
export PKG_DIR="${TARGET_DIR}${INSTALL_DIR}"

%:
	dh $@

override_dh_clean:

override_dh_install:
	rm -rf $(TARGET_DIR)/
	curl https://sh.rustup.rs -sSf | sh -s -- -y

	cd ${BUILD_DIR}
	${HOME}/.cargo/bin/cargo build --release

	mkdir -p -m 750 ${PKG_DIR}/
	install -m 0750 ${BUILD_DIR}/target/release/fim ${PKG_DIR}/
	install -m 0640 ${BUILD_DIR}/config.yml ${PKG_DIR}/

.PHONY: override_dh_clean override_dh_install
