# Contents of /etc/systemd/system/filemonitor.service
# Copyright (C) 2021, Achiefs.

[Unit]
Description=File integrity monitoring
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/filemonitor

[Install]
WantedBy=multi-user.target